#prints {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#prints a {
  width: 100%;
}

#prints img {
  height: auto;
  width: 100%;
}

#insta {
  text-align: center;
}

#insta a {
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}

#insta img {
  height: 1.5em;
  vertical-align: middle;
}
